body{
    margin: 0;
}

.container1{
    width:700px;
    max-width: 968px;
    height: 1000px;
    margin:0 auto ;
}

.titlebox{
    height: 70px;
    background-color: rgb(27, 105, 222);
    background-image: url(img/pattern.png);
    background-size: 250px;
    background-repeat: repeat-x;
    margin-bottom: 0;
}

.imagetitle{
    width:125px;
    margin-top: 15px;
}


.undertitle{
    font-size: 15px;
    color: #9E9E9E;
}


figure{
    margin:0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.image1{
    width: 350px;
}

.image2{
    width: 300px;
}

.imagestext{
    font-size: 10px;
}

.yellowing{
    background-color: yellow;
}

article{
    font-size: 13px;
}

#loremlyst
{
    padding-left: 0;
    font-size: 13px;
}

table{
    font-size: 13px;
    text-align: left;
    margin-bottom: 20px;
}

thead{
    color: white;
    background-color: rgb(0, 140, 255);
}

.rowblue{
    background-color: rgb(0, 251, 255);
}

.rowwight{
    background-color: white;
}

.celllong{
    width: 50%;
}

.interest1{
    margin-bottom: 10px;
    background-image: url(img/monitor.jpg);
}

.interest2{
    background-image: url(img/graph.jpg);
}

.interest1, .interest2{
    color: white;
    padding-left: 7px;
    padding-top: 7px;
    font-size: 13px;
    width: 20%;
    height: 100px;
    background-size: 100% 100%;

}